<div class="menu-container">
  <h2 class="menu-title">Choose a Game</h2>
  <div class="game-grid">
    <div class="game-box" [routerLink]="['/spell']">Spell</div>
    <div class="game-box" [routerLink]="['/identify']">Identify</div>
    <div class="game-box" [routerLink]="['/vowel']">Vowel</div>
    <div class="game-box" [routerLink]="['/missing-letter']">Missing Letter</div>
    <div class="game-box" [routerLink]="['/form-word']">Form a Word</div>
  </div>
  <button class="game-btn" style="margin-top:24px;" [routerLink]="['/']">Return Home</button>
</div>
